<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30622267218-atn0mivujtrtl6nqfrqrrhq7d9mjha9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30622267218-atn0mivujtrtl6nqfrqrrhq7d9mjha9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCZBiWPYNrgVLk-ObO79B3S3xzysmrlzrE</string>
	<key>GCM_SENDER_ID</key>
	<string>30622267218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Khoa.chatappnew</string>
	<key>PROJECT_ID</key>
	<string>chatappnew-5b4dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappnew-5b4dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30622267218:ios:70dd1f818c9b6998e32c8b</string>
</dict>
</plist>